.margin-left {
  margin-left: 20px;
}

.margin-top-15 {
  margin-top: 15px;
}

.mt-12 {
  margin-top: 12px;
}

.espacamento-vertical {
  padding: 1rem 0rem;
}

.espacamento-horizontal {
  padding: 0rem 1rem;
}
