@use "../../../../styles/tokens" as *;
@use "../../../../styles/utilities/mixins" as *;

.filtros-container {
  width: 100%;

  .filtros-card {
    border: 1px solid $color-border;
    border-radius: 8px;
    @include hover-card();

    .mat-expansion-panel-header {
      .mat-panel-title {
        font-weight: bold;
      }
    }

    .filtros-panel__content {
      ::ng-deep {
        .mat-form-field {
          width: 100%;
          margin-bottom: $form-spacing;

          &__field {
            width: 100%;
          }
        }
      }
    }
  }
}
