@use "../../../../styles/tokens" as *;
@use "../../../../styles/utilities/mixins" as *;

.sidebar {
  padding-top: $spacing-sm;

  .mat-mdc-list-item {
    height: 48px;
    padding: 0 $spacing-lg;
    transition: $transition-hover;

    @include hover-overlay();

    &:hover {
      cursor: pointer;
    }
  }

  .subitem-padding {
    padding-left: $spacing-lg;
  }

  .mat-expansion-panel-body {
    padding: 0 !important;
  }

  .mat-expansion-panel-header {
    height: 48px !important;
    font-size: 16px !important;
    padding: 0 $spacing-lg !important;
    transition: $transition-hover;

    @include hover-overlay();
  }

  .mat-expansion-panel {
    background: transparent;
    box-shadow: none;

    .mat-mdc-list-item {
      padding-left: 10px !important;
    }
  }

  mat-icon {
    margin-right: $spacing-sm;
    vertical-align: middle;
    color: #444;
  }

  .is-active {
    background-color: rgba(2, 104, 27, 0.08);
    border-left: 4px solid $color-primary-dark;
    width: calc(100% - 4px);
    color: $color-primary-dark;
    font-weight: 500;

    mat-icon {
      color: $color-primary-dark;
    }
  }
}
