<div class="sidebar">
  <!-- Itens sem submenu -->
  <mat-nav-list>
    <ng-container *ngFor="let menu of menuItems; trackBy: trackByMenuItem">
      <ng-container *ngIf="menu.subMenuItem.length === 0">
        <mat-list-item
          *appHasPermission="menu.permission"
          [routerLink]="menu.routerLink"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <mat-icon matListItemIcon>{{ menu.icon }}</mat-icon>
          <span matListItemTitle>{{ menu.tooltip }}</span>
        </mat-list-item>
      </ng-container>
    </ng-container>
  </mat-nav-list>

  <!-- Itens com submenu -->
  <div class="sidebar-expandable-section">
    <ng-container *ngFor="let menu of menuItems; trackBy: trackByMenuItem">
      <ng-container *ngIf="menu.subMenuItem.length > 0">
        <mat-expansion-panel
          *appHasPermission="menu.permission"
          class="sidebar-expansion-panel"
        >
          <mat-expansion-panel-header class="sidebar-expansion-header">
            <mat-panel-title class="sidebar-panel-title">
              <mat-icon class="sidebar-section-icon">{{ menu.icon }}</mat-icon>
              <span class="sidebar-section-text">{{ menu.tooltip }}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list class="sidebar-submenu-list">
            <ng-container
              *ngFor="
                let submenu of menu.subMenuItem;
                trackBy: trackBySubMenuItem
              "
            >
              <mat-list-item
                *appHasPermission="submenu.permission"
                [routerLink]="submenu.routerLink"
                routerLinkActive="is-active"
                [routerLinkActiveOptions]="{ exact: false }"
                class="sidebar-submenu-item"
              >
                <span matListItemTitle class="sidebar-submenu-text">{{
                  submenu.tooltip
                }}</span>
              </mat-list-item>
            </ng-container>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-container>
    </ng-container>
  </div>
</div>
