.color-button-cancel {
  color: white !important;
  background-color: #b00020 !important;
}

.color-button-limpar {
  color: black;
  background-color: yellow;
}

.color-button-pesquisar {
  color: white !important;
  background-color: #595588 !important;
}

.color-button-messages {
  background-color: black !important;
}
