@use "../tokens" as *;

.edit-icon {
  color: $color-edit !important;
}

.delete-icon {
  color: $color-delete !important;
}

.settings-icon {
  color: $color-secondary !important;
}

.atach-icon {
  color: $color-attachment !important;
}

.read-icon {
  color: $color-view !important;
}

.help-icon {
  color: $color-help !important;
}

.icon-sufix {
  font-size: 24px !important;
}
