.edit-icon {
  color: #d9cd26 !important;
}

.delete-icon {
  color: #b00020 !important;
}

.settings-icon {
  color: #595588 !important;
}

.atach-icon {
  color: #1976d2 !important;
}

.read-icon {
  color: #05cf6a !important;
}

.help-icon {
  color: #ff9800 !important;
}

.icon-sufix {
  font-size: 24px !important;
}
