@use "../tokens" as *;

.input-auto-complete {
  margin-right: 15px;
  margin-top: $spacing-xl;
}

.radio-button-with-autocomplete {
  margin-right: 30px;
}

.border-rounded {
  border: 1px solid $color-border-dark;
  border-radius: 5px;
}
