.input-auto-complete {
  margin-right: 15px;
  margin-top: 20px;
}

.radio-button-with-autocomplete {
  margin-right: 30px;
}

.border-rounded {
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
}
