@use "../tokens" as *;

.mat-snack-bar-container {
  max-width: 100% !important;
}

.success-snackbar,
.warning-snackbar,
.error-snackbar {
  max-width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: $spacing-lg !important;
  padding: 10px !important;
  background-color: $color-text-primary;
  font-size: 120%;
}

.success-snackbar {
  color: $color-success !important;

  .mat-button-wrapper {
    color: $color-success-light !important;
  }
}

.warning-snackbar {
  color: $color-warning-light !important;

  .mat-button-wrapper {
    color: #e2c6a0 !important;
  }
}

.error-snackbar {
  color: $color-error !important;

  .mat-button-wrapper {
    color: $color-error-light !important;
  }
}
