<header class="cabecalho-app">
  <mat-toolbar color="primary" class="barra-ferramentas-cabecalho">
    <button
      *ngIf="usuarioEstaLogado()"
      class="botao-alternar-menu"
      mat-icon-button
      (click)="aoClicarNoMenu()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div class="secao-titulo">
      <h1 class="titulo-aplicacao">{{ titulo() }}</h1>
      <div class="container-subtitulo">
        <span class="subtitulo-aplicacao">{{ subtitulo() }}</span>
        <ng-container *ngIf="'Versão em ' | tarja as versaoAmbiente">
          <span class="divisor">-</span>
          <span class="tag-ambiente">{{ versaoAmbiente }}</span>
        </ng-container>
      </div>
    </div>

    <div class="espacador-flexivel"></div>

    <div class="acoes-usuario" *ngIf="usuarioEstaLogado()">
      <app-usuario></app-usuario>
    </div>
  </mat-toolbar>
</header>
