<app-cabecalho-pagina [titulo]="'Equipamentos'" />

<div class="container">
  <app-filtros
    titulo="Filtros de Equipamentos"
    [campos]="camposFiltroEquipamentos"
    [botoes]="botoesConfigEquipamentos"
    [valoresIniciais]="filtrosSubject.value"
    (filtrar)="buscar($event)"
    (limpar)="limpar()"
    (incluir)="incluir()"
    (exportar)="exportarExcel()"
  />

  <app-grid-generico
    [colunas]="colunas"
    [nomesColunas]="nomesColunas"
    [dadosObservable]="dadosObservable"
    [acoesTemplate]="acoesTemplate"
    [config]="gridConfig"
    (mudancaPagina)="aoMudarPagina($event)"
    (ordenacaoMudou)="aoMudarOrdenacao($event)"
    (linhaSelecionada)="aoSelecionarLinha($event)"
  ></app-grid-generico>

  <ng-template #acoesTemplate let-element>
    <button
      mat-icon-button
      (click)="editar(element)"
      class="edit-icon"
      matTooltip="Editar equipamento"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="excluir(element)"
      class="delete-icon"
      matTooltip="Excluir equipamento"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</div>
