// Cores semânticas
$cor-edicao: #d9cd26;
$cor-exclusao: #e35e6b;
$cor-configuracoes: #4e34e48e;
$cor-anexo: #7d7d7e;
$cor-leitura: hsl(199, 55%, 45%);
$cor-ajuda: #69cbfb;
$cor-sucesso: #05cf6a;
$cor-alerta: #e48406;
$cor-erro: #ee0410f3;
$cor-fundo-card: #fff;
$cor-borda-card: #e0e0e0;
$cor-texto: #333;
$cor-texto-secundario: rgba(0, 0, 0, 0.6);

// Contraste
$dark-primary-text: rgba(0, 0, 0, 0.87);
$light-primary-text: #fff;
