.filtro-botoes-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;

  &.alinhamento-centro {
    justify-content: center;
  }
  &.alinhamento-direita {
    justify-content: flex-end;
  }

  // Responsividade: empilha em telas pequenas
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }
}
